<h1 align= "center" style=" color: darkblue"  > Parqueadero : Registro Vehiculos Ingresados</h1>
<div class="clear"></div>
<table class="table table-primary">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">idIngreso</th>
      <th scope="col">Tipo Vehiculo</th>
      <th scope="col">Placa</th>
      <th scope="col">Hora Ingreso</th>
      <th scope="col">Hora Salida</th>
      <th scope="col">Total Pagar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Moto</td>
      <td>abc1234</td>
      <td>07:25:45</td>
      <td>8:25:55</td>
      <td>7000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Carro</td>
      <td>abc1234</td>
      <td>07:25:45</td>
      <td>8:25:55</td>
      <td>4000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Moto</td>
      <td>abc1234</td>
      <td>07:25:45</td>
      <td>8:25:55</td>
      <td>9000</td>
    </tr>
  </tbody>
</table>

